[v-cloak] {
  display: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

button {
  margin-left: 10px;
  width: 100px;
}

span {
  color: blue;
  font-size: 14pt;
  font-style: italic;
}

.scrambledWord {
  color: blue;
}

.result {
  color: white;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  width: 100vw;
}

.correct {
  background-color: green;
  color: white;
  padding: 20px;
}

.incorrect {
  background-color: red;
  color: white;
}
